html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

#loader{
  position:fixed;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  background-image:url('../../images/loader.gif');
  background-size: 100px;
  background-color: #0f515b;
  background-color: -moz-linear-gradient(top,  #0f515b 0%, #126b5d 48%, #0f515b 100%);
  background-color: -webkit-linear-gradient(top,  #0f515b 0%,#126b5d 48%,#0f515b 100%);
  background-color: linear-gradient(to bottom,  #0f515b 0%,#126b5d 48%,#0f515b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f515b', endColorstr='#0f515b',GradientType=0 );
  background-repeat:no-repeat;
  background-position:center;
  z-index:999999999999999999;  
}

.primary-color{
    color: #0F515B;
}

.secondary-color{
    color: #f7c447;
}

.card {
    border-radius: 0;
    border: none
}

.card1 {
    width: 40%;
    padding: 40px 30px 10px 30px;
}

.card2 {
    width: 60%;
    background: rgb(15,81,91);
    background: -moz-linear-gradient(-45deg,  rgba(15,81,91,1) 0%, rgba(18,107,93,1) 48%, rgba(15,81,91,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(15,81,91,1) 0%,rgba(18,107,93,1) 48%,rgba(15,81,91,1) 100%);
    background: linear-gradient(135deg,  rgba(15,81,91,1) 0%,rgba(18,107,93,1) 48%,rgba(15,81,91,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f515b', endColorstr='#0f515b',GradientType=1 );

}

.page-title{
	font-weight: bold;
}

.flat-input{
    height: 45px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #cecece;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #0F515B 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #0F515B 4%);
    background-position: -500px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.flat-input:focus{
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    border-bottom: 0px;
}

.login-btn{
    background: rgb(15,81,91);
    background: -moz-linear-gradient(-45deg,  rgba(15,81,91,1) 0%, rgba(18,107,93,1) 48%, rgba(15,81,91,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(15,81,91,1) 0%,rgba(18,107,93,1) 48%,rgba(15,81,91,1) 100%);
    background: linear-gradient(135deg,  rgba(15,81,91,1) 0%,rgba(18,107,93,1) 48%,rgba(15,81,91,1) 100%);
    border: none;
    border-radius: 10px;
    color: #fff;
    width: 100%;
    height: 45px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
}

.login-btn::after{
    content: ' >>';
}

.login-btn:focus{
    outline: none;
    box-shadow: none;
}

.login-btn:hover{
  border-radius: 15px;
  color: #f7c447;
  -webkit-box-shadow: -2px 16px 13px -15px rgba(0,0,0,0.53);
  -moz-box-shadow: -2px 16px 13px -15px rgba(0,0,0,0.53);
  box-shadow: -2px 16px 13px -15px rgba(0,0,0,0.53);
}

.login-page{
    min-height:100vh
}

.login-page > .d-flex{
    min-height:100vh
}


@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px
    }

    .card2 {
        width: 100%
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important
    }

    .card2 {
        padding: 50px
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
}