@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@100;300;700&display=swap');

body{
	font-family: 'Poppins', serif;
}

/* Navbar */
.navbar-nav .nav-item .nav-link{
	color:  #fff;
}

.primary-color{
	color:  #004937;
}

.secondary-color{
	color:  red;
}

.header-content{
	/*background: rgba(102, 102, 102, 0.7);*/
	padding:  150px 0 0 0;
}

.header-parallax {
	background:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(102, 102, 102, 0.7)
    ),
   url(images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


.header-title{
	color: #fff;
	font-size: 8vw;
	font-weight: 700;
	bottom: 0;
}

.header-image{
	margin-top:  -140px;
}