/*
* @Author: Muhammad Ahsin
* @Date:   2020-11-25 10:22:29
* @Last Modified by:   Muhammad Ahsin
* @Last Modified time: 2021-05-24 21:33:37
*/

::selection {
    color: rgba(0, 0, 0, 0.5);
    background: rgba(241, 217, 30, 0.1);
}

.navbar{
	background: #0F515B;
	color: #fff;
	border: none;
}

.navbar .sidebarCollapse{
	color: #fff;
}

#sidebar .theme-brand {
    background-color: #0F515B;
    border-color: #0F515B;
}

.primary-bg{
	background: #0F515B;
}

.white-bg{
	background: #fff;
}

.primary-color{
	color: #0F515B;
}

.text-muted-secondary{
  color: #cccccc;
}

.widget.widget-one{
	background: #ffff;
	padding: 20px;
}

.content-card{
  margin: 10px 0 10px 0;
}

.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.dashboard-card{
  border-radius: 5px;
  margin: 10px 0 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
 
.dashboard-card-content h5, h1{
  margin: 0;
  padding: 0;
}

.dashboard-card-content h5{
  color: #6d6d6d;
  font-size: 14px;
}

.dashboard-card-icon{
  color: #6d6d6d;
  text-align: center;
  font-size: 45px;
  padding: 0;
  margin: 0;

}

.dashboard-card-primary{
  border-left: 5px solid #0F515B;
}

.dashboard-card-secondary{
  border-left: 5px solid #FA5251;
}

.dashboard-card-warning{
  border-left: 5px solid #e6b903;
}

.dashboard-card-info{
  border-left: 5px solid #25a6c7;
}

.vector-bg{
	background-image:url('../../images/city_vector.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}

#loader{
	position:fixed;
	top:0px;
	right:0px;
	width:100%;
	height:100%;
	background-image:url('../../images/loader.gif');
	background-color: rgba(255, 255, 255, 0.91);
	background-repeat:no-repeat;
	background-position:center;
	z-index:999999999999999999; 
}

.btn.btn-primary{
	background: #0F515B !important;
	box-shadow: 0 10px 20px -10px #0F515B;
	outline: none;
	border: none;
}

.btn.btn-secondary{
  background: #e2a03f !important;
  box-shadow: 0 10px 20px -10px #e2a03f;
  outline: none;
  border: none;
}

.btn.btn-soft{
  background: #e5e5e5 !important;
  box-shadow: 0 10px 20px -10px #e5e5e5;
  outline: none;
  border: none;
}

.fixed-round-button{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  background: #e55167;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 9999;
  box-shadow: 0 0 0 3px #eaeaea,
        0 0 0 9px #e55167,
        0 0 20px #e55167;
  transition: transform .8s ease-in-out;
  -webkit-transition: -webkit-transform .8s ease-in-out;
}

.fixed-round-button i{
  color: #fff;
  font-size: 20px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.fixed-round-button:hover, .fixed-round-button i:hover .fixed-round-button i{
  box-shadow: 0 0 0 3px #eaeaea,
        0 0 0 9px #e55167,
        0 0 20px #e55167;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.fixed-round-button:focus, .fixed-round-button i:focus .fixed-round-button i{
  box-shadow: 0 0 0 3px #eaeaea,
        0 0 0 9px #e55167,
        0 0 20px #e55167;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.breadcrumb {
  background-color: transparent;
  margin-bottom: 0; 
}

.breadcrumb-two .breadcrumb {
  list-style: none;
  overflow: hidden;
  padding: 0; }
  .breadcrumb-two .breadcrumb li {
    float: left; }

.breadcrumb-two .breadcrumb-item + .breadcrumb-item::before {
  color: #fff; }

.breadcrumb-two .breadcrumb li a {
  color: #0F515B;
  text-decoration: none;
  padding: 6px 0 6px 40px;
  background: #ebedf2;
  position: relative;
  display: block;
  float: left; }
  .breadcrumb-two .breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ebedf2;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2; }
  .breadcrumb-two .breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ebedf2;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1; }

.breadcrumb-two .breadcrumb li:last-child a:before {
  margin-left: -6px; }

.breadcrumb-two .breadcrumb li:first-child a {
  padding-left: 10px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px; }

.breadcrumb-two .breadcrumb li.active a {
  background: #0F515B;
  color: #fff; }
  .breadcrumb-two .breadcrumb li.active a:after {
    border-left-color: #0F515B; }

.breadcrumb-two .breadcrumb li:last-child a {
  pointer-events: none;
  cursor: default;
  padding-left: 20px;
  padding-right: 20px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }
  .breadcrumb-two .breadcrumb li:last-child a:after {
    border: none; }

#postTextArea{
  height: 400px;
  margin: 0 !important;
}

::-webkit-scrollbar {
  /*width: 15px;*/
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .6);
}

.badge.badge-muted{
  background: #e5e5e5;
  color: #9e9e9e;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0F515B;
}

input:disabled + .slider {
  background-color: #f2f2f2 !important;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0d505e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input.apple-switch {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 50px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #D9DADC;
  border-radius: 50px;
  box-shadow: inset -50px 0 0 0 #CCCCCC;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

input.apple-switch:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
  -webkit-transition: .4s;
  transition: .4s;
}

input.apple-switch:checked {
  box-shadow: inset 30px 0 0 0 #0F515B;
  border-color: #0F515B;
}

input.apple-switch:checked:after {
  left: 30px;
  box-shadow: -2px 5px 3px rgba(0,0,0,0.05);
}


/* Radio */
label.custom-radio-button input[type="radio"] {
    opacity:0;
}

label.custom-radio-button input[type="radio"] ~ .helping-el {
    background-color: transparent;
    border: 2px solid #0F515B;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
    padding: 11px;
    position: relative;
    top: 3px;
}

label.custom-radio-button input[type="radio"]:checked ~ .helping-el {
    border: 2px solid #0F515B;
}

label.custom-radio-button input[type="radio"]:checked ~ .helping-el:after {
    background-color: #0F515B;
    border-radius: 50%;
    content: " ";
    font-size: 33px;
    height: 16px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 16px;
}


.table > thead {
  border-top: 1px solid #e0e6ed;
  border-bottom: 1px solid #e0e6ed; }

table.dataTable {
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-top: 8px !important;
  margin-bottom: 50px !important;
  border-collapse: collapse !important; }
  table.dataTable thead .sorting:before, table.dataTable thead .sorting:after {
    opacity: 1;
    color: #d3d3d3; }
  table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after {
    opacity: 1;
    color: #d3d3d3; }
  table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after {
    opacity: 1;
    color: #d3d3d3; }
  table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after {
    opacity: 1;
    color: #d3d3d3; }
  table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    opacity: 1;
    color: #d3d3d3; }
  table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after {
    color: #0e1726; }

.table > tbody:before {
  line-height: 1em;
  content: "_";
  color: white;
  display: block; }

.table > tbody tr {
  border-radius: 4px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-bottom: 1px solid #e0e6ed; }

.table > thead > tr > th {
  background: #0F515B;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase; }

.table > tbody > tr > td {
  border: none;
  color: #888ea8;
  font-size: 13px;
  letter-spacing: 1px; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent !important; }

.table > tfoot > tr > th {
  border: none; }

.table-hover:not(.table-dark) tbody tr:hover {
  background-color: transparent !important;
  -webkit-transform: translateY(-1px) scale(1.01);
  transform: translateY(-1px) scale(1.01); }

.table-hover.non-hover:not(.table-dark) tbody tr:hover {
  -webkit-transform: none;
  transform: none; }

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0.85em;
  white-space: normal;
  color: #7CCADE;
  font-weight: 600;
  border: 1px solid #e0e6ed;
  display: inline-block;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 13px; }

div.dataTables_wrapper div.dataTables_filter label {
  position: relative; }

div.dataTables_wrapper div.dataTables_filter svg {
  position: absolute;
  top: 15px;
  right: 14px;
  width: 20px;
  color: #d3d3d3; }

.dataTables_wrapper .form-control {
  background: #fff;
  border: none;
  margin-top: 5px;
  -webkit-box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);
  box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);
  border-radius: 6px;
  border: 1px solid #e0e6ed;
  padding: 8px 30px 8px 14px; }

div.dataTables_wrapper div.dataTables_filter input {
  width: 150px; }

.dataTables_wrapper .dataTables_length select.form-control {
  padding: 8px 17px 8px 14px;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background: #fff url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23d3d3d3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") 50px 9px no-repeat; }

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
  display: inline-block; }

.page-link {
  margin-right: 5px;
  border-radius: 50%;
  padding: 8px 12px;
  background: rgba(0, 23, 55, 0.08);
  border: none;
  color: #888ea8; }
  .page-link:focus {
    box-shadow: none; }

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 3px 0; }

.page-item.disabled .page-link {
  background: #f1f2f3; }
  .page-item.disabled .page-link svg {
    color: #acb0c3; }

.page-item:first-child .page-link, .page-item:last-child .page-link {
  border-radius: 50%;
  padding: 5px 9px; }
  .page-item:first-child .page-link svg, .page-item:last-child .page-link svg {
    width: 17px; }

.page-item.active .page-link {
  background-color: #0F515B; }

#alter_pagination_next a, #alter_pagination_previous a {
  border-radius: 50%;
  padding: 5px 9px; }

#alter_pagination_next a svg, #alter_pagination_previous a svg {
  width: 17px; }

.table-cancel {
  color: #888ea8;
  margin-right: 6px;
  vertical-align: middle;
  fill: rgba(0, 23, 55, 0.08);
  cursor: pointer; }

.table-hover:not(.table-dark) tbody tr:hover .table-cancel {
  color: #e7515a; }

.sortable.list{
  list-style: none;
  padding: 0;
}

.sortable.list li{
  padding: 10px;
  margin-top:5px;
  border-radius: 5px;
  background: #cccccc;
  color: #fff;
  cursor: pointer;
}

.sortable.list li:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.ahs-list-table{
  width: 100%;
}

.ahs-list-table tr td{
  padding: 3px 0 3px 0;
  
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .dataTables_wrapper .dataTables_length select.form-control {
    background: transparent;
    padding: 8px 10px 8px 14px; } }

@media (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_info {
    margin-bottom: 40px; } }

.notifyjs-ahs-base {
  /*margin-top: 80px;*/
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.alert-gradient {
  color: #fff;
  border: none;
  background-size: cover;
  background-image: linear-gradient(135deg, #bc1a4e 0%, #004fe6 100%); 
}

/* Custom Alerts */
/* Default */
.custom-alert-1 {
  background-color: #e7515a;
  border-color: #e7515a;
  border-radius: 5px;
  color: #fff; }
  .custom-alert-1 .alert-icon {
    margin-right: 25px; }
  .custom-alert-1 .media-body {
    display: flex;
    justify-content: space-between; }
  .custom-alert-1 .alert-text {
    margin-right: 10px; }
    .custom-alert-1 .alert-text strong, .custom-alert-1 .alert-text span {
      vertical-align: sub; }

.custom-alert-2 {
  background-color: #bee5eb;
  border-color: #bee5eb;;
  border-radius: 5px;
  color: #3d3d3d; }
  .custom-alert-2 .alert-icon {
    margin-right: 25px; }
  .custom-alert-2 .media-body {
    display: flex;
    justify-content: space-between; }
  .custom-alert-2 .alert-text {
    margin-right: 10px; }
    .custom-alert-2 .alert-text strong, .custom-alert-2 .alert-text span {
      vertical-align: sub; }

/*  Alert with Icon */
.alert-icon-left {
  border-left: 64px solid; }
  .alert-icon-left svg:not(.close) {
    color: #fff;
    width: 4rem;
    left: -4rem;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.alert-icon-right {
  border-right: 64px solid; }
  .alert-icon-right svg:not(.close) {
    color: #fff;
    width: 4rem;
    right: -4rem;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .alert-icon-right i {
    float: left;
    margin-right: 7px; }

.alert[class*=alert-arrow-]:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  border-left: 8px solid;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left-color: inherit;
  margin-top: -8px; }

.alert.alert-arrow-right:before {
  left: auto;
  right: 0;
  border-left: 0;
  border-right: 8px solid;
  border-right-color: inherit; }

@media (max-width: 575px) {
  .custom-alert-1 .media-body {
    display: block; }
  .alert .btn {
    margin-top: 8px; } }


.tooltip-inner {
  border-radius: 5px;
  background-color: #0F515B !important;
  color: #fff ;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #0F515B !important;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #0F515B !important;
}


.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #0F515B !important;
}


.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: #0F515B !important;
}

.btn.btn-search{
  border-radius: 0 8px 8px 0;
  height: 46px;
  background: #0F515B;
  color: #fff;
}

.btn.btn-search img{
  margin-top: -5px;
}

.search-input:focus{
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-info-kendaraan{
  /*background: #eaeaea;*/
  border:  1px dashed #0F515B;
}

